<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Monthly challenge</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static%}
        <link rel="stylesheet" href="{% static 'challenges.challenge.css' %}">
               
    </head>
    <body>

        <h1>This monthly challenge</h1>
        <h2>Go for a walk atleast 20 minutes everyday</h2>      
        <h3>Hello man</h3>
        
        
        <script src="" async defer></script>
    </body>
</html>

